.features {
    background-color: #f1fdf7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;

    .container {
        width: 85%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .item {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 15px;

            img {
                width: 100%;
            }

            h1 {
                font-weight: 500;
                margin-bottom: 10px;
            }

            .title {
                display: flex;
                align-items: center;
                gap: 10px;
                font-weight: 500;
                font-size: 18px;
                color: #666;

                img {
                    width: 24px;
                    height: 24px;
                }
            }

            p {
                font-size: 95%;
                font-weight: 300;
                color: gray;
                line-height: 28px;
                letter-spacing: 1px;
            }

            video {
                width: 100%;
            }
        }
    }
}