.footer {
    display: flex;
    justify-content: center;
    color: #666;
    margin: 50px 0px;
    overflow-x: auto;
    /* Add horizontal scrolling for smaller screens */

    img {
        width: 24px;
        height: 24px;
    }

    .container {
        width: 85%;

        .top {
            display: flex;
            justify-content: space-between;
            overflow-x: auto;
            /* Add overflow for horizontal scrolling */

            .item {
                display: flex;
                flex-direction: column;
                gap: 20px;

                h2 {
                    font-size: 16px;
                    color: #555;

                    @media screen and (max-width: 768px) {
                        margin-top: 15px;
                        /* Add margin-top for mobile and tablet */
                    }
                }

                span {
                    font-weight: 300;
                }
            }
        }

        hr {
            margin: 50px 0px;
            height: 0;
            border: 1px solid #ebe9e9;
        }

        .bottom {
            display: flex;
            flex-direction: column;
            /* Display columns for mobile and tablet */

            @media screen and (min-width: 769px) {
                flex-direction: row;
                gap: 100px;
            }

            .left,
            .right {
                width: max-content;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 20px;

                span {
                    font-size: 13px;
                    white-space: nowrap;
                }
            }

            .right {
                margin-top: 10px;

                @media screen and (min-width: 769px) {
                    flex-direction: row;
                    align-items: center;
                }

                .social {
                    display: flex;
                    gap: 8px;
                    margin-top: 10px;

                    img {
                        width: 24px;
                        height: 24px;
                    }
                }

                .link {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    img {
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        .container {
            .top {
                flex-wrap: wrap;
                justify-content: flex-start;
                /* Adjust to start on a new line */

                .item {
                    width: 50%;
                }
            }
        }
    }

    @media screen and (max-width: 480px) {
        .container {
            .top {
                flex-wrap: wrap;
                justify-content: flex-start;
                /* Adjust to start on a new line */

                .item {
                    width: 100%;
                }
            }
        }
    }
}